.input-page-container {
  text-align: center;
  font-size: -webkit-xxx-large;

  h2 {
    margin-bottom: 20px;
  }

  input {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    background: transparent;
    color: #000000;
    box-shadow: 0 0 0 3px #000000 inset;
    :hover {
      transform: translateY(-2px);
    }
  }

  button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #ffffff;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    :hover {
      transform: translateY(-2px);
    }
  }
}

.video-container {
  width: 100%; // Adjust as needed
  height: auto; // Adjust as needed
  max-width: 800px; // Adjust as needed
  margin: 0 auto; // Center the video
  border-radius: 8px; // Add rounded corners if desired

  video {
    width: 50%;
    height: 50%;
    border-radius: inherit; // Inherit the border-radius from the container
  }
}
